body{
  
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.grid-general{
  display:grid;
  margin-top: 0.5em;
  /*grid-template-areas:"menu main";*/
  
  grid-template-rows: 140px auto;
}

.text-danger{
color:red;
font-weight: bold;

}

.breadcrumb{
  background-color: transparent;
}

invalid {
  border: 2px solid #ff0000;
  }
  
#header{
  height: 75px;
  width: 100%;
  background: rgba(230, 228, 228, 0.664);
 
  border-top: 50px solid white;
}


.center{
  width: 75%;
  margin: 0px auto; 
}




#brand {
  display: block;
  margin:0px;
  float:letf;

}

#menu{
  width: 70%;
  float: right;
  font-size:16px;
}

#menu ul{
  
  line-height: 68px ; /*la altura de los elementos en linea*/
  width: 60%;
  float:right;

}

#menu ul li{
 display:inline-block;
  list-style: none; /*quitar los puntos de lista*/
  height: 45px;
  margin-left: 15px;
  margin-right: 15px;
}

#menu a{
  text-decoration: none; /*quitar el subrayado de los enlaces*/
  color:#444;
  transition: 30ms all; 

}


#menu a:hover{ /*para que cuando pase por encima el 
  ratón cambie de color*/
color: rgb(6, 78, 129);
}


.clearfix{
  clear:both;
  float:none;

}

#slider{
  width: 100%;
  height:309px;
  text-shadow: 0px 0px 5px #444;
  margin-top: 0px auto;
  /*border: 5px solid rgba(230, 228, 228, 0.664);*/
  border-bottom: 2px solid rgba(230, 228, 228, 0.664);
 /* border-top: 1px solid black;*/
}


#slider img{
  display: block; /*el elemento se comporta como un bloque*/
  height:217px;
  margin-top:25px;
  margin-left: 484Px;
  
}


#sidebar{
  width: 23%;
  float: right;
 /*border: 1px solid green;*/
}

.sidebar-item{
 /* background: #f7f7f7;*/
  padding:20px;
  margin-top: 20px;
}

#nuevoDocumento{
  margin-top: 40px;
  margin-left: 4em;
  width:80%;
  

}

.nuevoDocumento{
  /*background:rgba(230, 228, 228, 0.664);*/
  background-color: transparent;
  padding:20px;
  /*border:1px solid black;*/
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
  display: inline-block;
  text-align: center;
  width: 340px;
  height: 270px;;
}

.nuevoDocumento label{
  display:inline-block;
  font-weight: bold;
 /* width: 80px;*/
 /* margin-top:10px;*/
  color: rgb(68, 68, 68);
}

.nuevoDocumento h3{
  
  font-size: 20px;
  margin-left: 20px;
}


.form-input-nuevo {
  background-color: white;
  width:80%;
  min-height: 30px;
  border: 1px solid #ccc;
  padding: 5px 10px ;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
  transition: 150ms all;
  
  
  
}

.carousel{
  background-color: red;
}


.inicio h2{
  text-align: center;
}


#content {
 
  width:75%;
 float:left;
/*border: 1px solid red;*/
 min-height: 650px;
 margin-right: 20px;
  
}

.servicios ul{
  line-height:66px ; /*la altura de los elementos en linea*/
  width: 60%;
  margin-left:286px;
  margin-top: -25px;
  

}

.servicios ul li{
  display:inline-block; /*poner toda la lista alineados*/
  list-style: none; /*quitar los puntos de lista*/
  height: 70px;
  margin-left:30px;
  margin-right: 30px;
}

.servicios a{
  text-decoration: none; /*quitar el subrayado de los enlaces*/
  color:#444;
  transition: 30ms all; 
  margin-left: 12px;
}

.servicios a:hover{
color: rgb(6, 78, 129);
}

.servicios img{
  display: block; /*el elemento se comporta como un bloque*/
  height:162px;
  margin-top:-26px;
  margin-left: -18px;
}


#h2-servicios{
  margin-left: 530px;
  font-style: initial;
  font-size: 35px;
  color:rgb(129, 11, 11);
 /* border-bottom: 1px solid rgb(6, 78, 129);*/
  
}

#btn-inf{
  margin-left: -85px;
  /*height: 10px;*/
}

#btn-doc{
  margin-right:68px;
  margin-left:82px
}


/*.active{
  border-bottom: 2px solid rgb(6, 78, 129);
}*/




.informacion ul{
  line-height:1px ; /*la altura de los elementos en linea*/
  width: 100%;
  
  
  /*margin-left:2px;
  margin-top: 2px;*/
  

}

.informacion ul li{
  
  list-style: none; /*quitar los puntos de lista*/
  height: 23px;
  margin-left: 31px;
  margin-top: 9px;
 /* margin-left:2px;
  margin-right: 2px;*/
}


.informacion a{
  text-decoration: none; /*quitar el subrayado de los enlaces*/
  color:#444;
  transition: 30ms all; 
  /*margin-left: 12px;*/
}

.informacion a:hover{
  color: rgb(6, 78, 129);
  }


  

  .informacion h2{
    margin-left: 30px;
    margin-bottom: 15px;
    margin-top:20px;
    font-size: 28px;    
    color: rgb(201, 15, 15);
  }


  .ayuda img{
    width: 1.9%;
    margin-left: 50px;
    margin-right: 10px;
  }

  .ayuda a{
    font-size: 20px;
    font-weight: bold;

  }

 /* input[type="text"],textarea, input[type="file"]{
    width:60%;
    min-height: 30px;
    border: 1px solid #ccc;
    padding: 3px 10px;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 15px;
    transition: 150ms all;
    display:inline-block;
  }*/

  
input[type="submit"]{
  margin-top: 15px;
}

input[type="submit"]:hover{
  cursor: pointer;
 /* color: black;**/
}

  .form-nuevo{
    width:65%;
    /*para centrar el contenido:*/
    margin: auto;
    padding:20px;
    border-radius: 15px;
    background: whitesmoke;
  
  }
  
  .form-nuevo label{
    display:inline-block;
    font-weight: bold;
    width: 80px;
    margin-top:10px;
    
  }

  .form-inicio{
    width:50%;  
    /*margin-left:50px;*/
    padding:20px;
    border-radius: 15px;
    background: whitesmoke;
  }

  .form-inicio label{
   /* display:inline-block;*/
    font-weight: bold;
   width: 80px;
    margin-top:10px;
  }

  .form-inicio input{
    width: 60%;
    min-height: 30px;
    border: 1px solid #ccc;
    padding: 3px 10px;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 15px;
    transition: 150ms all;
   /* display: inline-block;*/
  }
  

.formularios label{
  list-style: none; /*quitar los puntos de lista*/
  height: 23px;
  margin-left: 31px;

}

.formularios select{
  width: 16%;
    min-height: 30px;
    border: 1px solid #ccc;
    padding: 3px 10px;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 15px;
    transition: 150ms all;
    display: inline-block;
}

.formularios input[type="file"]{
  width: 30%;
  min-height: 30px;
  border: 1px solid #ccc;
  padding: 3px 10px;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 15px;
  transition: 150ms all;
  display: inline-block;
}

.formularios input[type="submit"]{
  display:block; 
    background: rgb(57, 178, 182);
    color: white;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size:14px;
    text-decoration: none;
    max-width: 120px;
    /*para que el cambio de color sea mas suavizado:*/
    transition: 300ms all;
    border:none;
    border-radius: 3px;
    /*para que siempre que este el raton
    encima del cursor cambie el mouse a mano que va pulsar:*/
    cursor: pointer;
    margin-left: 28px;
}


.obligatorio{
  font-size: 13px;
  color: rgb(107, 16, 16);
  margin-left: 35px;
  
}

.info {
  font-size:16px;
  margin-left: 35px;
 

}

  .btn{
    display:block; 
    background: rgb(57, 178, 182);
    color: white;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size:14px;
    text-decoration: none;
    max-width: 120px;
    /*para que el cambio de color sea mas suavizado:*/
    transition: 300ms all;
    border:none;
    border-radius: 3px;
    /*para que siempre que este el raton
    encima del cursor cambie el mouse a mano que va pulsar:*/
    cursor: pointer;
  
  }


  .documento-item{
    text-align: center;

    /*padding-top: 10px;
    text-align:left;
    margin-left:80px;
    margin-right: 10px;*/
  }
  
  .documento-item .image-wrap{
    width:50px;
    height: 50px;
    /*para ocultar toda la imagen que sobresalga*/
    overflow:hidden;
    float:left;
    margin-right: 15px;
    
  }

  .table-titulos table{
    display:table;
    border-spacing: 1px;
    text-align: center;
    margin-left: 50px;
    
  }

  .table-titulos  tr, th {
    display:inline-block;
    text-align: center;
    margin-left: 20px;
    border-spacing: 20px;
    border-left:1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 0.3px solid rgb(175, 175, 175);
    border-collapse: collapse; margin:auto; /* no haya separación entre las celdas*/
    margin-bottom: -1px;
  }


  .table-titulos th{
    width: 300px; height: 20px;
    padding-left: 4px; 
    padding-top: -3px;
  }


 
 


  .btn-menu{
    display:none;
  }


  .grid-inicio{
    
      display:grid;
      grid-template-rows: 120px auto;
  
  }


  /* PANTALLA INICIO SESION*/

  .grid-logo-inicio{
    display:grid;
    grid-template-rows: 450px;
    grid-template-columns: 720px auto;
  }

  .logo-titulo {
    display:inline-flex;
    align-items: center;
    margin-right: auto;
    margin-left:auto;
    
  }

  #administrador{
    margin-left: 500px;
  }

  #administrador Label{
    font-weight: lighter;
    color:black;
  }

  #administrador link{
    text-decoration: none;
    color:black;
  }

 .logo-titulo h1{
  margin-top:auto;
  color:rgb(14, 23, 105);
   font-size:25px;
 }
 .titulo-completo{
  margin-top:auto;
}

.titulo-completo h3{
  font-size: 12px;
  color:rgb(14, 23, 105);
}

 .logo-titulo img{
   margin-top:auto;
 }

 .linea{
  border: 0;
  border-bottom: 1px solid rgb(231, 231, 231);
  box-shadow: 0px 0px 2px 0px rgb(122, 122, 122);
  height:0;
 }


.inicio-logo{
  margin-top:50px;
  margin-left:auto;
  margin-right: 20px;
}

.boton-alumno{
  margin-top:50px;
  margin-left:auto;
  margin-right: 20px;

}

.boton-alumno:hover{
  transform: scale(1.09);
}

#header-boton{
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color:rgb(155, 18, 18);
}

#header-boton-prof{
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color:darkblue;
}
.formulario-inicioSesion{
  margin-top:45px;
  margin-left: 50px;
  margin-right: auto;

  background-color: transparent;
 padding: 2.6em;
 height: 20em;
  border-radius: 25px;
  
  transition: 0.6s;  
}

.formulario-inicioAdministrador{
  margin-left: 50px;
  margin-right: auto;

  background-color: transparent;
 padding: 2.6em;
 height: 20em;
  border-radius: 25px;
  
  transition: 0.6s; 
}

.form-alumno{
  margin-top:50px;
  margin-left:auto;
  margin-right: 20px;
}

.boton-profesor{
  margin-top:50px;
  margin-left: 50px;
  margin-right: auto;
  color:darkblue;
}

.boton-profesor:hover{
  transform: scale(1.09);
  
}
.boton-profesor:hover .info {
  display: block;
  }

.formulario-inicioSesion-nuevo{
  margin-top:40px;
  margin-left: 18em;
  margin-right: 18em;
  margin-bottom: 70px;
 background-color: rgba(60, 145, 156, 0.616);
 padding: 2.6em;
 height: 35em;
 border-radius: 25px;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 transition: 0.6s;  
}

.notificacion-mensajes{
  display:block;
  color:black;
  padding:17px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14xp;
  text-decoration:none;
  max-width:139px;
  transition: 300ms all;
  border:none;
  border-radius: 3px;
  background: transparent;
  justify-content: center;
}



.notificacion-mensajes:hover{
  background-color:rgb(199, 197, 197);
  color:white;
  text-decoration: none;
}

.notificacion-mensajes:active{
  color:white;
  background-color:#3b6978;
  text-decoration:none;
}

.notificacion-mensajes:visited{
  
  color:white;
  text-decoration: none;
}

/*******************************/
/*******  ALUMNOS- PROFESOR   */
/*******************************/

.card-root{
  max-width: 360px;
  width: 330px;
  display: inline-block;
  margin-right: 15px;
  margin-left:50px;
  margin-top:20px;
  height: 390px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.card-nombre{
  font-size:17px;
  font-weight: 400;
}

.group-nombre{
  display: block;
  
}



.card-nombre-uni{
  font-size:14px;
  font-weight: lighter;
  color:grey;
}

.card-media{
height: 180px;
width: 130px;
margin-left: auto;
margin-right:auto;
margin-top:12px;
}

.card-link-perfil{
  float: right;
  font-weight: lighter;
}

.card-link-perfil:hover{
  transform: scale(1.05);
  text-decoration: none;
}

/***************************/
/*   INFORMACION      */
/****************************/

.grid-informacion{
  display:grid;
  grid-template-columns:550px 550px auto;
}


/*************************/
/*  PROGRESBAR */
/************************/

#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
  counter-reset: step;
  margin-left: 18em;
  margin-right: 18em;

}
#progressbar li {
	list-style-type: none;
	color: black;
	text-transform: uppercase;
	font-size: 15px;
  width: 33.33%;
	float: left;
  position: relative;
  
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
  width: 40px;
  height: 40px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: grey;
	background: grey;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: grey;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background:rgb(14, 23, 105);
  color: white;
  
}

.fs-title {
	font-size: 25px;
	text-transform: uppercase;
	color: #2C3E50;
  margin-bottom: 10px;
  text-align: center;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 20px;
	color: #666;
  margin-bottom: 20px;
  text-align: center;
}


/*FIN PROGRESSBAR */
/*
.form-login-nuevo{
  display:block;
}

.form-login-nuevo-input{
  width: 500px;
  padding: 8px 8px;
  margin: 8px 0;
  align-items: center;
  background-color:transparent;
  outline: none;
  color: #f8f2ee;
  border-bottom: solid 3px #f8f2ee;
  border-right: none;
  border-left: none;
  border-top: none;
}

.form-login-nuevo-input::placeholder{
 
  color:#f8f2ee;
  font-size: 1.003em;

}*/

.formulario-login{
  margin-top:50px;
  display:grid;
}

.form-login{
  display: block;
}



.form-login-input{
  height: 43px;
  background-color:transparent;
  outline: none;
  color:black;
  border: solid 1px rgb(141, 141, 141);
  font-size:14px;
  width: 300px;
  padding:8px;

}

.icono-form{
  padding:12px 22px;
  border: solid 1px   rgb(141, 141, 141);
  font-size:15px;
 
}


.form-login-input:focus{
  border:solid 2px  rgb(141, 141, 141);
}

.form-login-input::placeholder{
 
    color: rgb(53, 53, 53);
    font-size: 1.053em;
  
}

.title-login{
  
  font-size: 20px;
  font-weight:normal;
  text-align: center;
  color:rgb(14, 23, 105);
  letter-spacing: 1px;
}

.subtitle-login{
  
  font-size: 13px;
margin-top:6px;
  font-weight:normal;
  text-align: center;
  color:rgb(88, 88, 88);
  letter-spacing: 0.6px;
}


.cabecera-login{
display:inline;
  
}

.link-nuevoUsuario{
  margin-top:28px;
  margin-right: 15px;
float:right;
font-size: 0.8585em;
text-decoration: none;
letter-spacing: 0.8px;

}

.link-nuevoUsuario:active, .link-nuevoUsuario:hover{
  text-decoration: none;
}

.link-nuevoUsuario:hover{
  color: black;
}

.btn-login{
  background-color:rgb(14, 23, 105);
  float:right;
   letter-spacing: .0727272727em;
   font-family: Roboto,Arial,sans-serif;
   font-size:15px;
   font-weight: 300;
   border: none;
   color: white;
   padding: 4px 8px;
   text-align: center;
   text-decoration: none;
   height:35px;
   border-radius: 4px;
}

.btn-login:hover{
  background-color:rgb(11, 151, 151);
}

.titulo-secundario{
  text-align: center;
  font-style: initial;
  font-size: 38px;
  color: #222831;
  /*border-bottom: 1px solid grey;*/
  align-items: center;
  
}

.titulo-doc{
  text-align: center;
  font-style: initial;
  font-size: 38px;
  color: #222831;
  border-bottom: 1px solid grey;
  align-items: center;
}

.subtitulo-doc{
  text-align: center;
  font-style: initial;
  font-size: 24px;
  color: #222831;
  border-bottom: 1px solid grey;
  margin-left: 1.3em;
}

/*** DROPBOX ******/
 
.table-dropbox{
  width: 88%;
  margin-left: 70px;
}

.dropbox-cabecera{
  margin-top:30px;
}

.dropbox-cabecera-item{
  width: 29%;
  margin-left: 12px;
}

.dropbox-item{
width:60%;

}

.mensaje-no-documentos{
  display:block;
  margin-top: 30px;
  text-align: center;
  
}

.bread{
  margin-left:2em;
  list-style:none;
  
}



.titulo-migaspan{
  color:black;
  font-weight: bold;
  margin-left: 15px;
  font-size: 16px;
  font-family: "arial", serif;
  
}


  /* RESPONSIVE */ 

/*desde la anchura 0px hasta la anchura 1488 px de la pantalla*/
@media(max-width: 1507px){
  /*se ejecutaran estos estilos: */
  
  .servicios ul{
    width: 80%;
  }
  }

  @media(max-width: 1489px){

    .servicios{
      margin-left: -50px;
    }

    #h2-servicios{
      margin-left: 490px;
    }

    #menu,
    #menu ul{
      line-height: 60px;
    }
  
    
    #menu ul li{
      margin-left: 6px;
      margin-right: 5px;
    }
  }

  @media(max-width:900px){
    #menu  {
      width:30%;
      height: 40%;
      margin-right:0;
      position:fixed;
      background-color: green;
    }

    #menu  ul li{
      display:block;
      float:none;
      border-bottom:2px solid red;
    }

    #menu_bar{
      display:block;
      width:40%;
      background: #ccc;
    }

    .btn-menu{
      display: block;
      float:right;
      background: red;
      text-decoration: none;
      font-weight: bold;
      font-size:25px;
      box-sizing:border-box;

    }

    .btn-menu span{
      float:right;
      font-size:40px;
    }
    
  }
